page-mail {
    // .toolbar-background {
    //     background-color: #689f38;
    // }
    .headerTitle{
        text-align: center;
        color: white;
    }
    .toolbar-title-md{
        color: white;
    }
    .projectCard {
        border-radius: 10px;
        padding : 10px;
    }
    .mailBtn{
        margin-top: 20px;
        height: 40px;
        width: 50%;
        font-weight: 500;
        border-color: darkolivegreen;
        color: darkolivegreen;
        background-color: white;
    }
    // .toast{
    //     background-color: red;
    // }
    .mailLabelText{
        color: darkolivegreen !important;
        font-weight: 500
    }
    .text-input-md{
        color: cadetblue
    }
    form{
        text-align: center;
    }

}
