@import '../../../style/colors.scss';
@import '../../../fontgroup/fontStyle.scss';
page-mission{
    // .toolbar-background {
    //     background-color: #689f38;
    // }
    .headerTitle{
        text-align: center;
        color: white;
    }
    .toolbar-title-md{
        color: white;
    }
    .missionCardHeader{
        color: darkgreen;
        font-weight: 500;
    }
    .background {
        background-color: #d7eab5
    }
    .missionCardDesc{
        color: $cardfeedBackJenniferTextColor ;
            font-size: 15px;
            text-align: left;
            margin: 0px;
    }
    .cardRadius{
        border-radius: 10px;
    }
}