//INSPIRE MODULE//
//inspire page
$inspireLabelColor : #4a4a4a;
$cardTitlebackGroundColor : rgba(0, 0, 0, 0.6);
$cardTitleBoxshadowColor : gray;
$cardTitletextColor : #ffffff;
$cardDeatilsTextColor : black;

//trendwatchpage
$trendwatchTitlecolor: #593762;
$trendwatchTimeStampcolor: #b3b3b3;
$trendwatchdescriptionTextcolor: gray;
$trendwatchdetailTitlecolor :#656b6f;
$trendwatchBottomrowbackgroundcolor :  #f7f7f7;

$trendDetailsApplicationbtnColor:#4a90e2;




//TRACK MODULE//
//TRACK//
$newrequestLabelColor:#0264a4;
$pastOrdersButtonColor:#b2cbdb;
$currentOrderLabelColor :#656b6f;
$cardbackGroundColor : lightgray;
$cardContentColor :#f6f5f5;
$cardstyleoflabelcolor : #707070;
$carddatalabelcolor : #656b6f;
$reviewshowcolor :lightgray;
$reviewhidecolor :white;
$reviewhideBGcolor :#0b6aa7;
$reviewlastlabelcolor :white;
$reviewlabelcolor :#e5e5e5;

//ORDER DETAILS
$orderNumberandtitlescolor: #0264a4;
$orderconfirmbuttoncolor : #8ecb50;

//RECOMMENDED SAMPLES
$recommendedSamplelabelandtitlescolor: #0264a4;
$recommendedSampleBGcolor: #fff;
$recommendedSampletitleBGcolor: #f2f4f7;
$recommendedSamplebordercolor: darkgray;
$recommendedaddtoorderbuttonBGcolor: #8ecb50;


//FEEDBACK MODULE
$cardfeedBackBGColor :#ffffff; 
$cardfeedBackSampleTextandpomegranteLabelColor :#0264a4;
$cardfeedBackFlavourTextColor :#656b6f;
$cardfeedBackpomegranteborderColor :#c7dff7;
$cardfeedBackpomegranteBGColor :rgb(241, 237, 237);
$cardfeedBackratingsStarColor :#f5a623;

$cardfeedBackJenniferLabelColor :#4c7d14;
$cardfeedBackJenniferTextColor :#82878a;

$cardfeedBackDavidIconColor :#a3a3a3;
$cardfeedBackDavidNameColor :#0264a4;
$cardFeedBackSendButtonBGColor :#8ecb50;


$cardfeedBackBottomRowBGColor :#f7f7f7;
$cardfeedBackBottomRowBorderColor :white;


//DESIGN MODULE //

//DESIGN HOMEPAGE 

$designbuttonStyle :#93624f;

//DESIGN 012

$designBGColor :rgb(248, 248, 248);
$designButtonBGColor :#f5a725;

$designProjectIDColor : #656b6f;
$designProjectIDInputColor : #5395bf;
$designProjectIDDesBGColor : #f3f3f3;

$designendUserTitlescolor: #c2d6e3;

$designendUserTitlesexpandsubTitleColor:rgb(85, 85, 156);  


$designcostrangehighLabel:rgb(59, 100, 189); 
$designregulatorEvenSelectedSelectedColor:#4a90e2;
$designregulatorEvenUnSelectedSelectedColor:rgb(156, 164, 171);



//COMPONENTS//
//RANGE SLIDER IN COMPONENTS
$rangebarBGColor : #eaeaea;
$rangebaractiveColor : #4a90e2;
$rangebarTitleLabelColor : #488aff;



//HOME PAGE

//LATEST TREND TAGS

$latestTrendsCardBGColor : #fafafa;
$latestTrendsCardTitleBGColor : #5C3082;
$latestTrendsCardTitleColor : white;
$latestTrendsCardPostTimeColor : #b3b3b3;
$latestTrendsCardDecrptionColor : #101010;
$latestTrendsCardInstagramColor : #222;
$latestTrendsCardTwitterColor : #cecbcb;
$latestTrendsCardTwitterTitleColor : #71D0F5;


//YOUR PROJECT

$yourProjectScrollBGColor : #fafafa;
$yourProjectCardBGColor : #ffffff;
$yourProjectIconAndTextColor : #0264a4;
$yourProjectStarColor : #f5a623;
$yourProjectSubItemsColor : #83878b;

//DASHBOARD







